In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
import os
import cv2
%matplotlib inline

Using TensorFlow backend.

In [3]:
data_dir=r'C:\Users\laks\Documents\Jigsaw\DeepLearning\GradedAssignment\Data\Data'
os.chdir(data_dir)

In [4]:
print(os.getcwd())

C:\Users\laks\Documents\Jigsaw\DeepLearning\GradedAssignment\Data\Data

In [5]:
#In the train folder, images of how many different classes are present? 

len(os.listdir(os.path.join(data_dir,'Train')))

46

In [6]:
#How many total images are present in the train folder?
sub_folders = os.listdir(os.path.join(data_dir,'Train'))
print(sub_folders)
labels_dict = {1:,2:,3:,4:,5:,6:,7:,8:,9:,10:,11:,12:,13:,14:,}

['character_10_yna', 'character_11_taamatar', 'character_12_thaa', 'character_13_daa', 'character_14_dhaa', 'character_15_adna', 'character_16_tabala', 'character_17_tha', 'character_18_da', 'character_19_dha', 'character_1_ka', 'character_20_na', 'character_21_pa', 'character_22_pha', 'character_23_ba', 'character_24_bha', 'character_25_ma', 'character_26_yaw', 'character_27_ra', 'character_28_la', 'character_29_waw', 'character_2_kha', 'character_30_motosaw', 'character_31_petchiryakha', 'character_32_patalosaw', 'character_33_ha', 'character_34_chhya', 'character_35_tra', 'character_36_gya', 'character_3_ga', 'character_4_gha', 'character_5_kna', 'character_6_cha', 'character_7_chha', 'character_8_ja', 'character_9_jha', 'digit_0', 'digit_1', 'digit_2', 'digit_3', 'digit_4', 'digit_5', 'digit_6', 'digit_7', 'digit_8', 'digit_9']

In [7]:
images=[]
labels=[]
for sf in sub_folders:
    os.chdir(os.path.join(data_dir,'Train',sf))
    for fl in os.listdir():
        images.append(cv2.cvtColor(cv2.imread(fl),cv2.COLOR_BGR2GRAY))
        labels.append(sf)

In [17]:
print(len(images))
labels[0]
label_enu = enumerate(sf)
print(label_enu)

78200
<enumerate object at 0x0000017E5F8905E8>

In [13]:
#reshape from 2D to 1D
images_flat=  []
for row in images:
    images_flat.append(row.reshape(32*32))

In [14]:
len(images_flat)

78200

In [15]:
train = pd.DataFrame(data=images_flat)

In [18]:
train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
train['labels'] = labels

In [20]:
train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,labels
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_10_yna

In [21]:
train = train.sample(frac=1).reset_index(drop=True)

In [22]:
train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,labels
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_34_chhya
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_8_ja
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_16_tabala
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_14_dhaa
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_13_daa
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_29_waw
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_4_gha
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_36_gya
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_36_gya
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_7_chha

In [23]:
y_train = train['labels']

In [24]:
y_train

0               character_34_chhya
1                   character_8_ja
2              character_16_tabala
3                character_14_dhaa
4                 character_13_daa
5                 character_29_waw
6                  character_4_gha
7                 character_36_gya
8                 character_36_gya
9                 character_7_chha
10           character_11_taamatar
11                character_17_tha
12                 character_28_la
13                  character_3_ga
14                 character_4_gha
15       character_31_petchiryakha
16                character_36_gya
17                         digit_3
18             character_16_tabala
19          character_32_patalosaw
20             character_16_tabala
21                  character_3_ga
22                         digit_6
23                 character_25_ma
24            character_30_motosaw
25                  character_1_ka
26                         digit_3
27                character_35_tra
28                character_7_chha
29                         digit_9
                   ...
78170              character_23_ba
78171             character_26_yaw
78172             character_26_yaw
78173               character_1_ka
78174                      digit_3
78175            character_12_thaa
78176              character_27_ra
78177                      digit_1
78178            character_14_dhaa
78179             character_17_tha
78180                      digit_5
78181              character_33_ha
78182               character_1_ka
78183                      digit_5
78184            character_14_dhaa
78185           character_34_chhya
78186             character_29_waw
78187             character_19_dha
78188              character_33_ha
78189              character_23_ba
78190             character_13_daa
78191            character_15_adna
78192             character_26_yaw
78193             character_36_gya
78194                      digit_9
78195             character_10_yna
78196             character_35_tra
78197                      digit_2
78198                      digit_9
78199       character_32_patalosaw
Name: labels, Length: 78200, dtype: object

In [25]:
train.drop(columns='labels',inplace=True)

In [26]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
type(y_train)

pandas.core.series.Series

In [35]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
y_train=enc.fit_transform(y_train)

In [36]:
x=np.array(train)
y=keras.utils.to_categorical(y_train)

In [39]:
x=x/255.0

In [40]:
from keras.models import Sequential
from keras.layers.convolutional import Conv2D
from keras.layers.core import Dense,Flatten
from keras.layers.pooling import MaxPooling2D
from keras.utils import np_utils
from keras.optimizers import SGD
from keras.layers import Dropout

In [123]:
model=Sequential()
model.add(Conv2D(filters=6,kernel_size=(3,3),padding='same',input_shape=(32,32,1)))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(filters=16,kernel_size=(3,3),padding='valid'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Flatten())
model.add(Dropout(0.2,seed=100))
model.add(Dense(120,activation='relu'))
model.add(Dense(84,activation='relu'))
model.add(Dense(46,activation='softmax'))

In [124]:
sgd = SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True).

















model.compile(loss='categorical_crossentropy',
              optimizer=sgd,
              metrics=['accuracy'])

In [125]:
##Reshaping: nrows,32,32,1 channel (images are greyscale)
x_train=x.reshape(x.shape[0],32,32,1)

In [126]:
history=model.fit(x_train,y,epochs=30,batch_size=1000,validation_split=0.20)

Train on 62560 samples, validate on 15640 samples
Epoch 1/30
62560/62560 [==============================] - 37s 596us/step - loss: 3.7888 - acc: 0.0348 - val_loss: 3.6343 - val_acc: 0.0779
Epoch 2/30
62560/62560 [==============================] - 38s 612us/step - loss: 2.7648 - acc: 0.2781 - val_loss: 1.6893 - val_acc: 0.5504
Epoch 3/30
62560/62560 [==============================] - 36s 581us/step - loss: 1.5410 - acc: 0.5760 - val_loss: 1.2084 - val_acc: 0.6719
Epoch 4/30
62560/62560 [==============================] - 35s 554us/step - loss: 1.2035 - acc: 0.6643 - val_loss: 0.9783 - val_acc: 0.7313
Epoch 5/30
62560/62560 [==============================] - 36s 581us/step - loss: 0.9922 - acc: 0.7180 - val_loss: 0.7891 - val_acc: 0.7816
Epoch 6/30
62560/62560 [==============================] - 39s 623us/step - loss: 0.8295 - acc: 0.7606 - val_loss: 0.6689 - val_acc: 0.8090
Epoch 7/30
62560/62560 [==============================] - 35s 556us/step - loss: 0.7039 - acc: 0.7938 - val_loss: 0.5644 - val_acc: 0.8374
Epoch 8/30
62560/62560 [==============================] - 34s 544us/step - loss: 0.6154 - acc: 0.8188 - val_loss: 0.4904 - val_acc: 0.8567
Epoch 9/30
62560/62560 [==============================] - 35s 559us/step - loss: 0.5330 - acc: 0.8406 - val_loss: 0.4336 - val_acc: 0.8754
Epoch 10/30
62560/62560 [==============================] - 35s 564us/step - loss: 0.4778 - acc: 0.8566 - val_loss: 0.3887 - val_acc: 0.8870
Epoch 11/30
62560/62560 [==============================] - 35s 565us/step - loss: 0.4286 - acc: 0.8713 - val_loss: 0.3503 - val_acc: 0.8988
Epoch 12/30
62560/62560 [==============================] - 38s 612us/step - loss: 0.3892 - acc: 0.8825 - val_loss: 0.3217 - val_acc: 0.9050
Epoch 13/30
62560/62560 [==============================] - 36s 568us/step - loss: 0.3547 - acc: 0.8911 - val_loss: 0.2989 - val_acc: 0.9100
Epoch 14/30
62560/62560 [==============================] - 35s 563us/step - loss: 0.3268 - acc: 0.9021 - val_loss: 0.2776 - val_acc: 0.9173
Epoch 15/30
62560/62560 [==============================] - 35s 555us/step - loss: 0.3054 - acc: 0.9077 - val_loss: 0.2596 - val_acc: 0.9210
Epoch 16/30
62560/62560 [==============================] - 34s 550us/step - loss: 0.2823 - acc: 0.9138 - val_loss: 0.2478 - val_acc: 0.9221
Epoch 17/30
62560/62560 [==============================] - 35s 567us/step - loss: 0.2676 - acc: 0.9192 - val_loss: 0.2321 - val_acc: 0.9301
Epoch 18/30
62560/62560 [==============================] - 35s 552us/step - loss: 0.2495 - acc: 0.9244 - val_loss: 0.2204 - val_acc: 0.9325
Epoch 19/30
62560/62560 [==============================] - 40s 633us/step - loss: 0.2386 - acc: 0.9264 - val_loss: 0.2135 - val_acc: 0.9355
Epoch 20/30
62560/62560 [==============================] - 41s 662us/step - loss: 0.2221 - acc: 0.9307 - val_loss: 0.2049 - val_acc: 0.9380
Epoch 21/30
62560/62560 [==============================] - 41s 660us/step - loss: 0.2135 - acc: 0.9342 - val_loss: 0.1964 - val_acc: 0.9389
Epoch 22/30
62560/62560 [==============================] - 42s 664us/step - loss: 0.2041 - acc: 0.9362 - val_loss: 0.1882 - val_acc: 0.9417
Epoch 23/30
62560/62560 [==============================] - 43s 688us/step - loss: 0.1914 - acc: 0.9408 - val_loss: 0.1790 - val_acc: 0.9449
Epoch 24/30
62560/62560 [==============================] - 43s 692us/step - loss: 0.1842 - acc: 0.9430 - val_loss: 0.1818 - val_acc: 0.9430
Epoch 25/30
62560/62560 [==============================] - 49s 786us/step - loss: 0.1764 - acc: 0.9445 - val_loss: 0.1789 - val_acc: 0.9434
Epoch 26/30
62560/62560 [==============================] - 45s 713us/step - loss: 0.1695 - acc: 0.9462 - val_loss: 0.1703 - val_acc: 0.9465
Epoch 27/30
62560/62560 [==============================] - 44s 702us/step - loss: 0.1632 - acc: 0.9493 - val_loss: 0.1732 - val_acc: 0.9458
Epoch 28/30
62560/62560 [==============================] - 43s 683us/step - loss: 0.1558 - acc: 0.9512 - val_loss: 0.1596 - val_acc: 0.9512
Epoch 29/30
62560/62560 [==============================] - 43s 692us/step - loss: 0.1519 - acc: 0.9526 - val_loss: 0.1541 - val_acc: 0.9526
Epoch 30/30
62560/62560 [==============================] - 43s 684us/step - loss: 0.1459 - acc: 0.9540 - val_loss: 0.1520 - val_acc: 0.9524

In [135]:
print(os.getcwd())
os.chdir(data_dir)

C:\Users\laks\Documents\Jigsaw\DeepLearning\GradedAssignment\Data\Data

In [128]:
# preprocess and reshape images in test.csv
X_test=pd.read_csv("test_X.csv")
X_test.shape
x_text=np.array(X_test)
x_test=x_text/255.0
x_test=x_test.reshape(x_test.shape[0],32,32,1)

In [130]:
#calculate the probability for all images in x_test and store results in a list
i=1
letter_list = []
for i in range(x_test.shape[0]):
    p = model.predict_proba(x_test[i,:,:].reshape(1,32,32,1))
    letter = np.argmax(p)
    letter_list.append(sub_folders[letter])

In [131]:
print(len(letter_list))

13800

In [167]:
#plt.imshow(x_test[11001,:,:].reshape(32,32),cmap='gray')
#p = model.predict_proba(x_test[11001,:,:].reshape(1,32,32,1))
#letter = np.argmax(p)
#sub_folders[letter]

In [170]:
# Generate Submission File from the list 
LetterSubmission = pd.DataFrame(letter_list, columns=["Label"])
LetterSubmission.head()
LetterSubmission.to_csv("pred.csv", index=False)